*{
    box-sizing: border-box;
    margin: 0;
    font-family: single day;
    letter-spacing: normal;

}

/* .logo-search-icon-navbar {
    display: flex;
}

.left-logo-search, .navbar, .right-cart-profile {
    flex: 1;    
    background-color: #FFEA9E;
}  */



/* suarez header css start */

/* .brand {
    font-size: 30px;
    text-align: left;
    justify-content: right;
} */


/* .head {
    background-color: rgb(118 59 19);
    width: 100%;
    height: 200px;
    overflow: hidden;
} */



/* .logo {
    margin-left: 60px;
} */



.logo-search-icon-navbar {
    display: flex;
    background-color: #FFEA9E;
    height: 70px;
}

.left-logo-search, .navbar, .right-cart-profile {
    flex: 1;  
    
} 
.brand {
font-size: 40px;
margin-top: 0;
letter-spacing: 3px;
margin-top: 10px;
margin-left: 30px;
color: #713912;;
font-weight: bold;
}
.navbar{
overflow: hidden;
display: flex;
flex-direction: row;
justify-content: center;
background-color: #FFEA9E;
align-items: center;
width: 100%;
/* transform: none; */
}


.navbar a{
float: left;
justify-content: center;
font-size: 16px;
color: #713912;
background-color: #FFEA9E;
text-align: center;
padding: 13px 16px;
text-decoration: none;
font-weight: bold;
transition: border-bottom 0.15s;
border-bottom: solid #FFEA9E;
border-width: 3px;
}


.dropdown{
float: right;
overflow: hidden;

}
.dropdown .drop{
font-size: 15px;
border: none;
/* outline: none; */
color: #713912;
padding: 13px 16px;
background-color: inherit;
font-family: inherit;
font-weight:bold;
transition: border-bottom 0.15s;
border-bottom: solid #FFEA9E;
border-width: 3px;

}
.navbar a:hover, .drop:hover{
border-bottom: solid #fff;
border-width: 3px;
}
.ddcontent{
display: none;
position: absolute;
background-color:#FFEA9E;
min-width: 100px;
box-shadow: 0px 8px 16px rgba(0,0,0,0,0.2);
z-index: 1;

}
.ddcontent a{
float: none;
color: #713912;
padding: 12px 16px;
display: block;
text-align: left;
border-bottom: solid #FFEA9E;
border-width: 3px;

}
.ddcontent:hover{
background-color: #FFEA9E;
}
.dropdown:hover .ddcontent{
display: block;
}
.searchicon {
width: 90px;
vertical-align: top;
margin-top: 8px;
margin-left: 0px;
margin-right: 0px;
}
.search {
margin-top: 18px;

/* vertical-align: top; */
/* margin-top: 80px; */
/* margin-left: 0; */
/* background-color: rgb(118 59 19); */
border-style: solid;
border-color: #fed169;
width: 250px;
height: 30px;
font-size: 16px;
border-radius: 20px;
padding-left: 15px;
outline: none;
font-size: 13px;
margin-left: 20px;
color: #713912;

}

::placeholder{
color: #713912;
}
.cart{
margin-top: 9px;
vertical-align: top;
height: 55px;
width: 63px;
margin-left: 30px;
}
.profile{
vertical-align: top;
margin-top: 9px;
width: 60px;
}


.card{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
    
}


.active .card{
    left: calc(100% - 500px);
    
    
}
.active .container{
   transform: translateX(-0px);

   
}
.card h1{
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}


.list {

    background-image: url(image/image-removebg-preview\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center 103%;
}


span{
    background: red;
    border-radius: 50%;
    display: flex;
    /* align-items: center; */
    color: #fff;
    position: absolute;
   margin-top: -60px;
    padding: 3px 10px;
    margin-left: 310px;
    
    
}












.container{
    background-color: #fed169;
    padding-bottom: 30px ;
}
.icon2:hover, .icon1:hover{
    transform: scale(1.4);
}
/* .f:hover{
    border:none!important;
    padding: 0!important;
    margin: 0!important;
} */
.banner {
    text-align: center;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: 1500px;
    align-items: center;
    height:500px;
    background-image: url(pics/alvan-nee-eoqnr8ikwFE-unsplash.jpg);
    background-position-y: -80px;
}

.text{
    color: white;
    font-family: Arial;
    text-align: center;
    padding-top:200px;
    font-size: 35px;
    font-family: single day;
    text-shadow: 1px 1px 5px black;
}

#shopbutton{
    /* margin-top: 200px; */
    background-color: #fed169;
    color: #713912;
    padding: 10px 15px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 40px;
    border-style: none;
    transition: opacity 0.15s;
}

#shopbutton:hover{
    opacity: 0.8; 
    /* transform: scale(1.05) */
}
#choose{
    font-weight: bold;
    text-align: center;
    color: #ffff;
    padding: 20px;
    font-size: 30px;
    background-color:#713912;
}
.first-container, .third-container{
    background-color: #fed169;
    height: 600px;
    display: flex;
    border-radius: 100px;
    /* overflow: scroll; */
}

.second-container, .fourth-container{
    background-color: #713912;
    height: 600px;
    display: flex;
    /* overflow: scroll; */
}

.left-first-container, .right-first-container, .left-second-container, .right-second-container, .left-third-container, .right-third-container, .left-fourth-container, .right-fourth-container {
    flex: 1;
    text-align: center;
}
.first-row-title, .third-row-title {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
    color:#713912;
}
.first-row-desc, .third-row-desc {
    width: 500px;
    text-align: center;
    margin-left: 90px;
    font-size: 20px;
    color: #713912;
}
.second-row-title, .fourth-row-title {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
    color: #fed169;
    margin-right: 70px;
}

.second-row-desc, .fourth-row-desc {
    width: 500px;
    text-align: center;
    margin-left: 40px;
    font-size: 20px;
    color:#fed169;
}
.see-more-dogs-bttn, .see-more-cats-bttn, .see-more-birds-bttn, .see-more-fish-bttn{
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
}
.see-more-cats-bttn, .see-more-fish-bttn {
    color: white;
}
.see-more-dogs-bttn:hover, .see-more-cats-bttn:hover, .see-more-birds-bttn:hover,  .see-more-fish-bttn:hover{
    text-decoration: underline;

}
.first-row-pic, .second-row-pic, .third-row-pic{
    height:550px;
    margin-top: 20px;

}







.footer {
    background-color: #713912;
    display: flex;
    justify-content: left;
    padding-left: 10%;
    padding-top: 30px;
}

.pcategory,
.aboutus,
.services,
.openinghours {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.pcategory a,
.aboutus a,
.services a,
.openinghours a {
    text-decoration: none;
    list-style: none;
    color: white;
    padding-bottom: 20px;
}

.pcategory h5,
.aboutus h5,
.services h5,
.openinghours h5 {
    color: white;
    margin-bottom: 20px;
    font-size: 15px;
}

.services img {
    width: 20px;
}

.a {
    margin-top: -5px;
}


.icons{
    padding-top: 5px;
    display: flex;
    justify-content: center;
    background-color: #713912;

}
.icons img{
    height: 40px;
    padding: 0px 5px;
    transition: transform .5s;
}
.icons img:hover{
    transform: scale(1.5);
    
}
.icons img::after{
    transform:scale(1);
}

/* .to-top img{
    position: fixed;
    bottom: 16px;
    right: 20px;
    width: 30px;
    height: auto;
    align-items: center;
    justify-content: center;
    transition: all .15s;
    opacity: 0;
    display: flex;

  }
  

  .to-top img:active {
    opacity: 1;
    pointer-events: auto;
  }  */
/* .to-top:hover {
    padding: 5px,5px, 5px, 5px;
    background-color: #fff;

} */
 

/* .to-top {
    background-color: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;

}

.to-top:active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
} */
html {
    scroll-behavior: smooth;
    background-color: #713912;
}

#scrollToTopBtn{
    display: none; /* Initially hide the button */
    position: fixed;
    bottom: 20px;
    right: 1px;
  margin-right: 15px;
    cursor: pointer;
    transition: all .5s;
    background-color: none;
  }
  .arrow-up {
      width: 30px;
  }
  
  #scrollToTopBtn:hover {
    opacity: 0.5;
  }